/*
 * DirPictures Plugin style
 * Anchor to a div with 
 * 
 * Mosaic markups :
 * <a><div><span></span></div></a>
 */


/*  Style  */

div.mosaicMain a:hover {
	background-color:#f4ff4f;
}

div.mosaicMain a {
	padding:5px;
	color: #ff00000;
	background-color:#eee;
	font-size: 100%;
	width:32%;
	max-width: 350px;
	height:230px;
	float:left;
	margin:5px;
}

div.mosaicImg {
	padding:5px;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 220px;
    float:left;
}

.mosaicTitle {
background-color:#f4ff4f;
    display:block;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #444;
    font-family: 'Lato', 'Arial', sans-serif;
    text-decoration: none;max-width: 320px;
	margin-left: -5px;
	margin-top: 165px;
	padding-left: 3px;

}

.mosaicDate {
    overflow: hidden;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #eee;
    font-family: 'Lato', 'Arial', sans-serif;
    text-decoration: none;
	background: black;
	padding-right: 10px;
	padding-left:5px;
	margin-left: -5px;
}



/* ---------- RTL --------------*/

[dir=rtl] div.mosaicMain a:hover {
	background-color:#f4ff4f;
}

[dir=rtl] div.mosaicMain a {
	padding:5px;
	color: #ff00000;
	background-color:#eee;
	font-size: 100%;
	width:32%;
	max-width: 350px;
	height:230px;
	float:left;
	margin:5px;
}

[dir=rtl] div.mosaicImg {
	padding:5px;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 220px;
    float:left;
}

[dir=rtl] .mosaicTitle {
background-color:#f4ff4f;
    display:block;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #444;
    font-family: 'Lato', 'Arial', sans-serif;
    text-decoration: none;max-width: 320px;
	margin-left: -5px;
	margin-top: 165px;
	padding-left: 3px;

}

[dir=rtl] .mosaicDate {
    overflow: hidden;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    color: #eee;
    font-family: 'Lato', 'Arial', sans-serif;
    text-decoration: none;
	background: black;
	padding-right: 10px;
	padding-left:5px;
	margin-left: -5px;
}
